.header-container {
  position: relative;
  display: flex;
  align-items: center;
  height: 100px; /* adjust if needed */
  background-color: #fff;
  padding: 0 2rem;
}

.header-logo {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.header-search input {
  top: 38px;
  width: 100%;
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.header-search-wrapper input {
  width: 100%;
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
}
